; =====================================================
; ================= BUSMOD SAFEROOM ITEMS =============
; =====================================================
add:
{
		"classname" "weapon_first_aid_kit"
		"origin" "426 5739 2929"
		"angles" "8 -7 0"
}
{
		"classname" "weapon_first_aid_kit"
		"origin" "429 5739 2923"
		"angles" "3 -13 0"
}
{
		"classname" "weapon_defibrillator"
		"origin" "422 5732 2922"
		"angles" "3 -13 0"
}
{
		"classname" "weapon_defibrillator"
		"origin" "427 5735 2924"
		"angles" "3 -13 0"
}


; =====================================================
; ================= SAFEROOM WEAPONS ==================
; =====================================================
add:
; --- add tier 1 shotgun/smg in the saferoom
{
"classname" "weapon_pumpshotgun"
"origin" "2390 4960 500"
"angles" "8 -7 0"
"ammo" "80"
}
{
"classname" "weapon_smg"
"ammo" "600"
"origin" "2380 4955 500"
"angles" "3 -13 0"
}
; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================

add:
; --- block jump across bridge to skip ladders
{
	; invisible block on right side
	"origin" "-12072 -11992 -18"
	"mins" "0 0 0"
	"maxs" "18 20 200"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_player_blocker"
}
{
	; invisible block on left side
	"origin" "-12584 -11992 -18"
	"mins" "-26 0 0"
	"maxs" "0 20 200"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_player_blocker"
}
; --- block a stuck spot underneath a displacement in the ladder choke canyon
{
	; invisible block
	"origin" "-10127 -12130 -475.99"
	"mins" "-78 -157 -37.5"
	"maxs" "78 157 37.5"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}

; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================
add:
; --- block hunters falling off and under map at end of map (confogl only)
{
	; invisible block along back rocky section
	"origin" "-11872 -4626 1034"
	"mins" "-448 -238 -470"
	"maxs" "448 238 470"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- block SI getting permanently stuck in corner near SI ladder (confogl only)
{
	; invisible block in corner near rocks
	"origin" "-11353 -4837 591"
	"mins" "-71 -45 -21"
	"maxs" "71 45 21"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}

; =====================================================
add:
{
	"classname" "prop_dynamic"
	"angles" "0 75 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_84sedan_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12145 -13460 -65"
}
{
	"classname" "prop_dynamic"
	"angles" "0 75 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_84sedan.mdl"
	"rendercolor" "128 0 0"
	"solid" "6"
	"origin" "-12145 -13460 -65"
}
{
	"classname" "prop_dynamic"
	"angles" "-2 150 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_69sedan_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12489 -13129 -57.4806"
}
{
	"classname" "prop_dynamic"
	"angles" "-2 150 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_69sedan.mdl"
	"rendercolor" "0 128 0"
	"solid" "6"
	"origin" "-12489 -13129 -57.4806"
}
{
	"classname" "prop_dynamic"
	"angles" "-0 90 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12224 -10240 -63.75"
}
{
	"classname" "prop_dynamic"
	"angles" "-0 90 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"rendercolor" "255 128 64"
	"solid" "6"
	"origin" "-12224 -10240 -63.75"
}
{
	"classname" "prop_dynamic"
	"angles" "0 120 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12230 -9558 -64.75"
}
{
	"classname" "prop_dynamic"
	"angles" "0 120 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"rendercolor" "0 0 128"
	"solid" "6"
	"origin" "-12230 -9558 -64.75"
}
{
	"classname" "prop_dynamic"
	"angles" "0 120 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_69sedan_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12398 -9043 -65.75"
}
{
	"classname" "prop_dynamic"
	"angles" "0 120 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_69sedan.mdl"
	"rendercolor" "0 128 0"
	"solid" "6"
	"origin" "-12398 -9043 -65.75"
}
{
	"classname" "prop_dynamic"
	"angles" "-0 90 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_82hatchback_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12468 -8114 -63.75"
}
{
	"classname" "prop_dynamic"
	"angles" "-0 90 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_82hatchback.mdl"
	"rendercolor" "128 128 128"
	"solid" "6"
	"origin" "-12468 -8114 -63.75"
}
