; =====================================================
; ================= BUSMOD SAFEROOM ITEMS =============
; =====================================================
add:
{
		"classname" "weapon_first_aid_kit"
		"origin" "426 5739 2929"
		"angles" "8 -7 0"
}
{
		"classname" "weapon_first_aid_kit"
		"origin" "429 5739 2923"
		"angles" "3 -13 0"
}
{
		"classname" "weapon_defibrillator"
		"origin" "422 5732 2922"
		"angles" "3 -13 0"
}
{
		"classname" "weapon_defibrillator"
		"origin" "427 5735 2924"
		"angles" "3 -13 0"
}


; =====================================================
; ================= SAFEROOM WEAPONS ==================
; =====================================================
add:
; --- add tier 1 shotgun/smg in the saferoom
{
"classname" "weapon_pumpshotgun"
"origin" "2880 2975 50"
"angles" "8 -7 0"
"ammo" "80"
}
{
"classname" "weapon_smg"
"ammo" "600"
"origin" "2884 2979 53"
"angles" "3 -13 0"
}


; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================

add:
; --- block climbing into squished section outside saferoom
{
	; invisible block inside narrow section
	"origin" "2244 4076 100"
	"mins" "-60 -84 -28"
	"maxs" "60 84 28"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}

; --- Fix Hunters being unable to pounce in deep water by adding clip underneath it
{
	"origin" "4066 -4704 -482"
	"mins" "-3104 -1184 -184"
	"maxs" "3104 1184 184"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}

; =====================================================
; ==================  PROMOD PROPS  ===================
; =====================================================

add:

; --- Add a rock off to the side of the dock to nerf camping there
{
	"classname" "prop_dynamic"
	"angles" "0 108 0"
	"disableshadows" "1"
	"model" "models/props/cs_militia/militiarock01.mdl"
	"solid" "6"
	"origin" "3184 -5028 -325"
}
