; =====================================================
; ================= BUSMOD SAFEROOM ITEMS =============
; =====================================================
add:
{
		"classname" "weapon_first_aid_kit"
		"origin" "426 5739 2929"
		"angles" "8 -7 0"
}
{
		"classname" "weapon_first_aid_kit"
		"origin" "429 5739 2923"
		"angles" "3 -13 0"
}
{
		"classname" "weapon_defibrillator"
		"origin" "422 5732 2922"
		"angles" "3 -13 0"
}
{
		"classname" "weapon_defibrillator"
		"origin" "427 5735 2924"
		"angles" "3 -13 0"
}


; =====================================================
; ================= SAFEROOM WEAPONS ==================
; =====================================================
add:
; --- add tier 1 shotgun/smg in the saferoom
{
"classname" "weapon_pumpshotgun"
"origin" "2390 4960 500"
"angles" "8 -7 0"
"ammo" "80"
}
{
"classname" "weapon_smg"
"ammo" "600"
"origin" "2380 4955 500"
"angles" "3 -13 0"
}
; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================

add:
; --- block pipes to avoid using ladder in final section of tunnel
{
	; invisible block above pipes
	"origin" "-2366 -8664 60"
	"angles" "0 -45 0"
	"mins" "0 0 -120"
	"maxs" "960 32 212"
	"boxmins" "0 0 -120"
	"boxmaxs" "960 32 212"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}

; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================

add:
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-6860 -7780 -64"
	"angles" "0 90 0"
	"model" "models/props/de_prodigy/concretebags.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-1750 -9550 40"
	"angles" "13 265 85"
	"model" "models/props_vehicles/train_flatcar.mdl"
	"classname" "prop_dynamic"
}
{
	"origin" "-1820 -9410 190"
	"mins" "-100 -90 0"
	"maxs" "100 80 100"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_player_blocker"
}

; =====================================================
