; =====================================================
; ================= BUSMOD SAFEROOM ITEMS =============
; =====================================================
add:
{
		"classname" "weapon_first_aid_kit"
		"origin" "426 5739 2929"
		"angles" "8 -7 0"
}
{
		"classname" "weapon_first_aid_kit"
		"origin" "429 5739 2923"
		"angles" "3 -13 0"
}
{
		"classname" "weapon_defibrillator"
		"origin" "422 5732 2922"
		"angles" "3 -13 0"
}
{
		"classname" "weapon_defibrillator"
		"origin" "427 5735 2924"
		"angles" "3 -13 0"
}


; =====================================================
; ================= SAFEROOM WEAPONS ==================
; =====================================================
add:
; --- add tier 1 shotgun/smg in the saferoom
{
"classname" "weapon_pumpshotgun"
"origin" "2880 2975 50"
"angles" "8 -7 0"
"ammo" "80"
}
{
"classname" "weapon_smg"
"ammo" "600"
"origin" "2884 2979 53"
"angles" "3 -13 0"
}

; --- add spawns to end saferoom area and add a way out for a stuck spot
{
	"classname" "prop_dynamic"
	"angles" "0 270.5 6.5"
	"disableshadows" "1"
	"model" "models/props_swamp/plank001b_192.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-4499 -4069 779"
}
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/acvent04.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "6027 -6087 542"
}
{
	"classname" "prop_dynamic"
	"angles" "0.108091 270 0"
	"disableshadows" "1"
	"model" "models/props_junk/dumpster.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "6363 -5209 383.137"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_industrial/brickpallets.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "5754 -6439 396.857"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_industrial/brickpallets.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "5797.48 -6248.82 412.857"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_industrial/brickpallets.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "5732.91 -6249.42 412.857"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_industrial/brickpallets.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "5733 -6184 412.857"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_industrial/brickpallets.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "5797.57 -6183.4 412.857"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_industrial/brickpallets.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "5796.57 -6248.4 445.857"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_industrial/brickpallets.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "5797.48 -6183.82 476.857"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_industrial/brickpallets.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "5732.91 -6119.42 380.857"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 -90"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_02.mdl"
	"solid" "6"
	"origin" "1625 -4683 1329.72"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 -90"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_02.mdl"
	"solid" "6"
	"origin" "1529 -4683 1329.72"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 -90"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_02.mdl"
	"solid" "6"
	"origin" "1336 -4681 1329.72"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 -90"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_02.mdl"
	"solid" "6"
	"origin" "1240 -4681 1329.72"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 -90"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"solid" "6"
	"origin" "1721 -4690 1329.72"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 -90"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"solid" "6"
	"origin" "1793 -4618 1329.72"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 -90"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_02.mdl"
	"solid" "6"
	"origin" "1798 -4619 1224"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 -90"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_02.mdl"
	"solid" "6"
	"origin" "1703 -4619 1224"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 -90"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_02.mdl"
	"solid" "6"
	"origin" "1608 -4619 1224"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 -90"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_02.mdl"
	"solid" "6"
	"origin" "1512 -4619 1224"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 -90"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_02.mdl"
	"solid" "6"
	"origin" "1894 -4621 1223"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 -90"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_02.mdl"
	"solid" "6"
	"origin" "1059 -4620 1224"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 -90"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_02.mdl"
	"solid" "6"
	"origin" "1155 -4620 1224"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 -90"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_02.mdl"
	"solid" "6"
	"origin" "963 -4620 1224"
}
{
	"classname" "prop_dynamic"
	"angles" "90 0 0"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"solid" "6"
	"origin" "964 -4620 1152"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 180"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_02.mdl"
	"solid" "0"
	"origin" "1433 -4673 1283.09"
}
{
	"classname" "prop_dynamic"
	"angles" "90 0 0"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"solid" "6"
	"origin" "1243 -4674 1257.72"
}
