; =====================================================
; ================= BUSMOD SAFEROOM ITEMS =============
; =====================================================
add:
{
		"classname" "weapon_first_aid_kit"
		"origin" "426 5739 2929"
		"angles" "8 -7 0"
}
{
		"classname" "weapon_first_aid_kit"
		"origin" "429 5739 2923"
		"angles" "3 -13 0"
}
{
		"classname" "weapon_defibrillator"
		"origin" "422 5732 2922"
		"angles" "3 -13 0"
}
{
		"classname" "weapon_defibrillator"
		"origin" "427 5735 2924"
		"angles" "3 -13 0"
}

; =====================================================
; ================= SAFEROOM WEAPONS ==================
; =====================================================
add:
; --- add tier 1 shotgun/smg in the saferoom
{
"classname" "weapon_pumpshotgun"
"origin" "2880 2975 50"
"angles" "8 -7 0"
"ammo" "80"
}
{
"classname" "weapon_smg"
"ammo" "600"
"origin" "2884 2979 53"
"angles" "3 -13 0"
}
